<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="index:: head">
</head>

<body>


	<div class="wrapper">
		<header th:replace="index :: menu"></header>


		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex"> <i
					class="hamburger align-self-center"></i>
				</a>



				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">


						<li class="nav-item dropdown"><a
							class="nav-icon dropdown-toggle" href="#" id="alertsDropdown"
							data-toggle="dropdown">
								
									<i class="align-middle" data-feather="bell"></i> <span
										class="indicator">4</span>
								
						</a></li>


					</ul>
				</div>
			</nav>

			<main class="content">
				<form th:action="@{/datosmaestros}" th:object="${ocrd}"
					method="post" enctype="multipart/form-data">
					
					

						<h1 class="h3 mb-3"> <strong>Socio de negocios</strong></h1>

						<div class="row">
							<div class="col-md-3 col-xl-2">

								<div class="card">


									<div class=" card-header list-group list-group-flush"
										role="tablist">
										<a class="list-group-item list-group-item-action "
											data-toggle="list" href="#account" role="tab">
										<strong>Informacion general </strong>	 </a> 
											
									</div>
								</div>
							</div>

							<div class="col-md-9 col-xl-10">
								<div class="tab-content">

									<div class="tab-pane fade show active" id="account"
										role="tabpanel">

										<div class="card">
											<div class="card-header">

												<h5 class="card-title mb-0">
													<strong> Informacion General </strong>
												</h5>
											</div>
											<div class="card-body">

												<div class="row">

													<div class="row">
													
														<div class="mb-3 col-md-4">
															<label class="form-label" for="inputLastName">
																Nombre cliente </label> <select
																class=" form-control  custom-select" id="inputLastName"
																required >
																<option selected value="">Seleccione</option>
																<option>Carlos</option>
																<option>Emilia</option>
																<option>Juan</option>

															</select>
														</div>

														<div class="mb-1 col-md-4">

															<label class="form-label" for="U_HBT_TipDoc">
																Tipo Documento </label> <input type="text"
																th:field="*{U_HBT_TipDoc}" class="form-control"
																id="U_HBT_TipDoc" placeholder="" required>



														</div>
													</div>


													<div class="row">
														<div class="mb-3 col-md-4">

															<label class="form-label" for="inputUsername">Nombres
															</label> <input type="text" class="form-control"
																th:field="*{U_HBT_Nombres}" id="inputUsername"
																placeholder="" required>

														</div>

														<div class="mb-3 col-md-4">

															<label class="form-label" for="inputUsername">Primer
																Apellido</label> <input type="text" class="form-control"
																th:field="*{U_HBT_Apellido1}" id="inputUsername"
																placeholder="" required>

														</div>
														<div class="mb-3 col-md-4">
															<div class="form-group ">
																<label class="form-label" for="inputUsername">Segundo
																	Apellido</label> <input type="text" class="form-control"
																	th:field="*{U_HBT_Apellido2}" id="inputUsername"
																	placeholder="" required>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="mb-3 col-md-4">
															<div class="form-group ">
																<label class="form-label" for="AddID">Cedula</label> <input
																	type="text" class="form-control" th:field="*{AddID}"
																	id="AddID" placeholder="" required>
															</div>
														</div>
														<div class="mb-3 col-md-4">
															<div class="form-group ">
																<label class="form-label" for="GroupCode">Grupo
																	Ventas</label> <input type="text" class="form-control"
																	th:field="*{GroupCode}" id="GroupCode" placeholder="" required>
															</div>
														</div>

														<div class="mb-3 col-md-4">
															<div class="form-group ">
																<label class="form-label" for="inputUsername">Nit</label>
																<input type="text" class="form-control"
																	th:field="*{LicTradNum}" id="inputUsername"
																	placeholder="" required>
															</div>
														</div>

													</div>

												</div>



											</div>
										</div>

										<div class="card">
											<div class="card-header">

												<h5 class="card-title mb-0">General</h5>
											</div>
											<div class="card-body">

												<div class="row">
													<div class="mb-3 col-md-4">
														<label class="form-label" for="U_HBT_RegTrib">Regimen
															tributario</label> <input type="text" class="form-control"
															th:field="*{U_HBT_RegTrib}" id="U_HBT_RegTrib"
															placeholder="" required>
													</div>
													<div class="mb-3 col-md-4">

														<label class="form-label" for="Discount">Descuento
															cliente</label> <input type="text" class="form-control"
															th:field="*{Discount}" id="Discount" placeholder="" required>

													</div>
													<div class="mb-3 col-md-4">

														<label class="form-label" for="phone">Telefono </label> <input
															type="text" class="form-control" th:field="*{Phone1}"
															id="phone" placeholder="" required>

													</div>
												</div>

												<div class="row">

													<div class="mb-3 col-md-4">
														<div class="form-group ">
															<label class="form-label" for="SlpCode">Ventas
																por catalogo</label> <input type="text" class="form-control"
																th:field="*{SlpCode}" id="SlpCode" placeholder="" required>
														</div>
													</div>

													<div class="mb-3 col-md-4">
														<div class="form-group ">
															<label class="form-label" for="inputEmail4">Correo
																electronico</label> <input type="email" class="form-control"
																th:field="*{E_Mail}" id="inputEmail4" placeholder="" required>
														</div>
													</div>
													<div class="mb-3 col-md-4">
														<div class="form-group ">
															<label class="form-label" for="U_GSP_GENDER">Genero</label>
															<input type="text" class="form-control"
																th:field="*{U_GSP_GENDER}" id="U_GSP_GENDER"
																placeholder="" required>
														</div>
													</div>

												</div>

												<div class="row">

													<div class="mb-3 col-md-4">
														<div class="form-group ">
															<label class="form-label" for="U_HBT_TipEnt">
																Tipo Entidad </label> <input class="form-control"
																th:field="*{U_HBT_TipEnt}" id="U_HBT_TipEnt"
																placeholder="" required>
														</div>
													</div>
													<div class="mb-3 col-md-4">
														<label class="form-label" for="U_HBT_Nacional">Nacionalidad</label>
														<input type="text" class="form-control"
															th:field="*{U_HBT_Nacional}" id="U_HBT_Nacional"
															placeholder="">
													</div>
													<div class="mb-3 col-md-4">
														<label class="form-label" for="U_HBT_TipExt"> Tipo
															de extranjero </label> <input class="form-control"
															th:field="*{U_HBT_TipExt}" id="U_HBT_TipExt"
															placeholder="" required>
													</div>
												</div>

												<div class="row">
													<div class="mb-3 col-md-4">
														<label class="form-label" for="U_HBT_MunMed"> Mun.
															Medio Magnetico</label> <input class="form-control"
															th:field="*{U_HBT_MunMed}" id="U_HBT_MunMed"
															placeholder="" required>
													</div>
													<div class="mb-3 col-md-4">
														<label class="form-label" for="GroupNum">
															Condiciones pago</label> <input class="form-control"
															th:field="*{GroupNum}" id="GroupNum" placeholder="" required>
													</div>
													<div class="mb-3 col-md-4">
														<label class="form-label" for="U_CatalogosActivos">
															Catalogos Activos</label> <input class="form-control"
															th:field="*{U_CatalogosActivos}" id="U_CatalogosActivos"
															placeholder="" required>
													</div>
												</div>
												<div class="row">
													<div class="mb-3 col-md-4">
														<label class="form-label" for="ListNum"> Numero
															Lista Precios</label> <input class="form-control"
															th:field="*{ListNum}" id="ListNum" placeholder="" required>
													</div>
													<div class="mb-3 col-md-4">
														<label class="form-label" for="CreditLine"> Limite
															Credito</label> <input class="form-control"
															th:field="*{CreditLine}" id="CreditLine" placeholder="" required>
													</div>
													<div class="mb-3 col-md-4">
														<label class="form-label" for="DebtLine">Limite
															Comprometido</label> <input class="form-control"
															th:field="*{DebtLine}" id="DebtLine" placeholder="" required>
													</div>
												</div>

												<div class="row">

													<div class="mb-3 col-md-4">
														<label class="form-label" for="contraseña1">Ingrese
															la nueva contraseña</label> <input type="password"
															class="form-control" th:field="*{U_CRMContrasena}" id="contraseña1">
													</div>
													<div class="mb-3 col-md-4">
														<label class="form-label" for="contraseña2">Confirma
															la contraseña nueva</label> <input type="password"
															class="form-control" th:field="*{U_CRMContrasena}" id="contraseña2">
													</div>

												</div>
											</div>
										</div>

									</div>

								</div>
							</div>

						</div>
                         
						<button type="submit"class="btn btn-success">Crear</button>
						<button type="button" class="btn btn-primary">Cancelar</button>
						<button type="button" class="btn btn-danger">Buscar</button>
						<button type="button" class="btn btn-warning">Editar</button>

						</form>
			</main>

			<footer th:replace="index :: footer"></footer>
		</div>
	</div>

	<script src="js/app.js"></script>
</body>

</html>